.image{
  width: 100%;
  height: 700px;

}
.s{
  display: flex;
  justify-content:space-around ;
  padding: 20px 80px ;
}

.theme{
  color: #3cb043;
  font-weight:500;
  font-size: 30px;
}



.left-shift{
  padding-left: 75%;
}
