

<div class="">


      <div class="bg-image">
        <img class="  img2 " src="../../../assets/Image/Img2.jpeg" alt="First slide">
        <div class="centered">
          <h4>Welcome to CropDeal</h4>
          <p class="m-0">Shop Now</p>
        </div>
      </div>

    </div>






<div class="home-content">
  <!-- <div class="card-deck row">

    <div class="col-xs-20 col-sm-12 col-md-6">
    <div class="card ">

      <div class="view overlay">
        <img class="card-img-top" src="../../..\assets\Image\crop_post.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">

        <h4 class="card-title ">
          Post Your Crop for Sale</h4>
        <p class="card-text"><i>Advertise and Sell your crops here</i></p>
        <button type="button" class="btn btn-lg btn-light-blue" routerLink='Postc'>Sell Crops</button>

      </div>

    </div>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">

    <div class="card mb-4">


      <div class="view overlay">
        <img class="card-img-top" src="../../..\assets\Image\crop_view.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <div class="card-body">


        <h4 class="card-title">
          View Your Crops</h4>

        <p class="card-text"><i>Explore Your Complete Listing of Posted Crops for Sale</i></p>

        <button type="button" class="btn btn-light-blue btn-lg">View Crops</button>

      </div>

    </div>

  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">

    <div class="card mb-4">

      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/Image/invoice.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">


        <h4 class="card-title">Get Invoice</h4>
        <p class="card-text"><i>View all Your Generated Invoices</i></p>
        <button type="button" class="btn btn-light-blue btn-lg">View Invoice</button>

      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="card">

      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/Image/Update_profile.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">

        <h4 class="card-title">Update Profile</h4>
        <p class="card-text"><i>Keep Your Profile Update to Date</i></p>
        <button type="button" class="btn btn-light-blue btn-lg">Update</button>

      </div>

    </div>
  </div>



  </div> -->
 <h1 class=" a">ABOUT US</h1>

 <div class="container">
  <div class="row">
    <div >
      <h2 class=" content">Welcome to Crop Deal <br> The Ultimate Destination for Buying and Selling Crops</h2>
      <ul class="para">
      <p >
        CropDeal is an agriculture house providing innovative, property and result-driven solutions and services to agriculture, commercial enterprises.
      </p>
        <p>We take pride in offering crops of unparalleled quality. Every crop you sell through our platform undergoes rigorous quality checks to ensure freshness, purity, and adherence to organic standards. Say goodbye to subpar produce and hello to premium quality crops.</p>
        <p>At Crop Deal, we believe in fair and transparent pricing. We understand the importance of receiving a reasonable return on your hard work. Our platform ensures that you get the best value for your crops, with pricing determined based on market trends and demand.</p>
        <p> With Crop Deal, you gain access to a vast network of buyers, both locally and globally. Our platform connects you with potential buyers who are actively seeking high-quality crops. Expand your market reach and increase your chances of securing profitable sales.</p>
       <p>Selling your crops through Crop Deal is a breeze. Our user-friendly interface and intuitive features make the process simple and hassle-free. From uploading crop details and images to managing inquiries and negotiations, everything is just a few clicks away.</p>
       <p> Stay ahead of the game with our comprehensive seasonal crop information. Crop Deal provides you with valuable insights into the best time to grow and sell specific crops, helping you optimize your farming practices and maximize your profits.</p>
      </ul>
      </div>
      </div>
      </div>
      </div>

      <div>
        <h1 class=" b">Featured Crops</h1>
      </div>

  <div class="overview-boxes">
  <div class="right-side">
    <div class="row">
      <div class="col-md-12 s">

        <div class=" card" >
          <img class="card-img-top img1 " src="../../../assets/Image/fruit.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-text">Fruits</h3>
          </div>
        </div>
        <div class="card " >
          <img class="card-img-top img1" src="../../../assets/Image/Pulse.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-text">Pulses</h3>
          </div>
        </div>
        <div class=" card" >
          <img class="card-img-top img1 " src="../../../assets/Image/vegetable.jpg" alt="Card image cap">
          <div class="card-body ad">
            <h3 class="card-text">Vegetable</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

