<div class="container">

  <div class="card-deck row">

    <div class="col-xs-20 col-sm-12 col-md-6">
    <div class="card ">

      <div class="view overlay">
        <img class="card-img-top" src="../../../assets/Image/Update_profile.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body">

        <h4 class="card-title ">
          Display All Users</h4>
        <p class="card-text"><i>Get all Active Users data</i></p>
        <button type="button" class="btn btn-lg btn-light-blue" routerLink='Users'>View</button>

      </div>

    </div>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">

    <div class="card mb-4">


      <div class="view overlay">
        <img class="card-img-top" src="../../..\assets\Image\report.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>


      <div class="card-body">


        <h4 class="card-title">
          Report Generation</h4>

        <p class="card-text"><i>View all Tarnsctions of Farmers and Dealers</i></p>

        <button type="button" class="btn btn-light-blue btn-lg " routerLink='Invoice'>Invoices</button>

      </div>

    </div>

  </div>



  </div>

  </div>
